<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link href='{{url_for("static",filename="detail.css")}}' rel="stylesheet">
  <script defer="defer" src="{{ url_for('static', filename='main.js') }}"></script>
  <title>Document</title>

  <script>
  </script>

  <style>

  </style>
</head>

<body>
  <div class="wrap">


    <form enctype="multipart/form-data" class="img_boxes">
      <div id="image-show" class="img_section">
      </div>
    </form>
    <div class="mini_section">
      <div class="file is-info has-name">
        <label class="file-label">
          <input onchange="loadFile(this)" accept="image/*" class="file-input" type="file" name="resume">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Info file…
            </span>
          </span>
          <span class="file-name">
            please input your image
          </span>
        </label>
      </div>



    </div>

  </div>

  </div>
  <div class="content">
    <h3>여행소개글</h3>
    <div class="select is-medium">
      <select id="region">
        <option selected>지역</option>
        <option value="서울">서울</option>
        <option value="부산">부산</option>
        <option value="경기">경기</option>
        <option value="충청">충청</option>
        <option value="전라">전라</option>
        <option value="경북">경북</option>
        <option value="경남">경남</option>

      </select>
    </div>
    <div class="field">
      <div class="control">
        <textarea class="textarea is-large" placeholder="입력해 주세요!" id="content"></textarea>
        <div class="btn-box">
          <button onclick=" save_order()" class="button is-info">저장하기</button>
          <button onclick='window.location.href = "/"' class="button is-info">뒤로가기</button>
        </div>
      </div>
    </div>
  </div>

  </div>
  </div>
</body>

</html>